<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <div class="navbar-item">
      E-SHOP
    </div>
  </div>

  <div class="navbar-start">
    <a [routerLink]="['/products']" class="navbar-item">
      Product list
    </a>
  </div>
  <div class="navbar-end">
    <a [routerLink]="['/checkout']" class="navbar-item">
      <span class="icon is-medium">
          <i class="mdi mdi-24px mdi-cart-outline"></i>
      </span>
    </a>
  </div>
</nav>
<section class="section">
  <router-outlet></router-outlet>
</section>


