<div class="columns is-multiline">
  <div class="column is-3 is-2-widescreen is-half-tablet is-full-mobile" *ngFor="let product of products; let idx = index">
    <div class="card mt-5 is-flex is-flex-direction-column is-full">
      <div class="card-content is-flex-direction-column is-align-items-center is-flex is-full">
        <span class="icon is-large">
          <i class="mdi mdi-48px mdi-book-open-variant"></i>
        </span>
        <div class="content mt-3">
          {{ product.title }}
        </div>
      </div>
      <footer class="card-footer">
        <p class="card-footer-item">
          <span>
            {{ product.price }}
          </span>
        </p>
        <a *ngIf="!productIsInCart(product)" (click)="addToCart(product)" class="card-footer-item">
          <span class="icon is-medium">
            <i class="mdi mdi-24px mdi-cart-plus"></i>
          </span>
        </a>

        <a *ngIf="productIsInCart(product)" (click)="removeFromCart(product)" class="card-footer-item">
          <span class="icon is-medium">
            <i class="mdi mdi-24px mdi-cart-off"></i>
          </span>
        </a>
      </footer>
    </div>
  </div>
</div>
